<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <div style="padding: 10px;">
    <h2> Grievance Report  Status </h2>
    <div class="add_availability">
      <button > Grievance Report </button>
    </div>
    <div class="attendence_table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th> Statement of Grievance </th>
            <th> Relief Sought </th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
          <tr>
            <td>16 September 2023</td>
            <td>What is Lorem Ipsum?</td>
            <td>What is Lorem Ipsum?</td>
            <td>Status Pending</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
