 
.ion-content {
	padding: 10px;
	float: left;
	width: 100%;
	--ion-background-color: #ebf4f3;
}
.logo_img{ width: 100%; text-align: center; float: left; padding: 0 0 20px;}
.logo_img img{ width: 200px; text-align: center;}
.login-page {
	width: 100%;
	float: left;
	padding: 50% 0 0;
}.form h2 {
	padding: 0 0 30px 0;
	margin: 0;
	font-size: 20px;
}
.error{
  font-size: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  margin-left: 15px;
  margin-top: -13px;
  margin-bottom: 10px;
  color: red;
}
.form {
    position: relative;
    z-index: 1;
    width: -webkit-fill-available;
    text-align: center;
    background: #fff;
    display: inline-block;
    border-radius: 7px;
    padding: 30px 20px 50px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.form input {
    outline: 0;
    background: #ebf4f3;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 50px;
}
.form button {
   text-transform: uppercase;
  outline: 0;
  background: #154fa0;
  width: 100%;
  border: 0;
    border-radius: 50px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #154fa0;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #154fa0;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
 
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
 