.user_name h2 {
	margin: 0;
	padding: 0;color: #fff;
	text-transform: capitalize;font-size: 20px;
}.user_name p {
	margin: 0; color: #fff;
	padding: 20px 0 0;text-transform: capitalize;font-size: 14px;
}.sidmenu_user {
	background: #1053a2;
}
.item-native{ padding: 0 !important;}.user_icon img {
	width: 90%;
}