<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-menu-toggle style="outline: 0;">
        <div class="sidmenu_bg">
          <div><img style="height: 115px;width: 100%;" src="https://hello-vegans.com/"></div>
          <div class="sidmenu_user">
            <ion-grid style="padding: 6px 0 0;">
                <ion-row [routerLink]="['/menu/profile']">
                  <ion-col size='4' style="display: flex;">
                    <div class="user_icon"><img src="https://hello-vegans.com/"></div>
                  </ion-col>
                  <ion-col size='8'>
                    <div class="user_name">
                      <p>Welcome</p>
                      <h2>pankaj meel</h2>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-menu-toggle>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle style="outline: 0;">
        <ion-list>
          <ion-item routerLink="/menu/dashboard">Vegan log</ion-item>
          <ion-item routerLink="/menu/about">About Us</ion-item>
          <ion-item routerLink="/menu/blog">Blog</ion-item>
          <ion-item routerLink="/menu/news">News</ion-item>
          <ion-item routerLink="/menu/events">Event</ion-item>
          <ion-item routerLink="/menu/recipes">Recipe</ion-item>
          <ion-item routerLink="/menu/recommendation">Recommendation</ion-item>
          <ion-item routerLink="/menu/contact">Contact Us</ion-item>
          <ion-item routerLink="/menu/cookies">Cookies</ion-item>
          <ion-item routerLink="/menu/advertising">Advertising</ion-item>
          <ion-item routerLink="/menu/privacy">Privacy</ion-item>
          <ion-item routerLink="/">Logout</ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
