<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-menu-toggle style="outline: 0;">
        <div class="sidmenu_bg">
          <div class="sidmenu_user">
            <ion-grid style="padding: 6px 0 0;">
                <ion-row [routerLink]="['/menu/profile']">
                  <ion-col size='4' style="display: flex;">
                    <div class="user_icon"><img src="assets/icon/user-icon.png"></div>
                  </ion-col>
                  <ion-col size='8'>
                    <div class="user_name">
                      <p>Welcome</p>
                      <h2>pankaj meel</h2>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-menu-toggle>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle style="outline: 0;">
        <ion-list>
          <ion-item routerLink="/menu/home">Home</ion-item>
          <ion-item routerLink="/menu/list">List of Mess History</ion-item>
          <ion-item routerLink="/menu/attendance">Attendance</ion-item>
          <ion-item routerLink="/menu/profile">Profile</ion-item>
          <ion-item routerLink="/">Logout</ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
