<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <div style="padding: 10px;">
    <h2>  Leave Status </h2>
    <div class="add_availability">
      <button routerLink="/menu/leave-application" >  Leave Application </button></div>
    <div class="attendence_table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Reasons </th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of leaveData">
            <td>{{data.start_date}}</td>
            <td>{{data.leave_type}}</td>
            <td>{{data.reason}}</td>
            <td>{{data.status == '0'?'Pending':'Approved'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
