.custom-header {
	width: 100%;
	float: left;
	background-attachment: #fff;
 
}
.logo_head {
	width: 100%;
	float: left;
	text-align: center;
}
.logo_head img {
	width: 100px;
	text-align: center;
	;
}
.custom-header {
 ion-icon {
 font-size: 33px;
}
}
:host(.in-toolbar:not(.ion-color):not(.in-toolbar-color)) .button-native {
 color: #000;
 width: auto;
 font-size: 17px;
}
.header-md {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0), 0 4px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.ion-content {
	 padding: 10px;
	float: left;
	width: 100%;--ion-background-color: #ebf4f3;
	background-color: #ebf4f3;
}
.ion-content h2 {
	width: 100%;
	float: left;
	font-size: 17px;
	margin: 0;
	color: #154fa0;
	font-weight: bold;
	padding: 5px 0 0;
	text-align: left;
}
.attendance_filter {
	width: 100%;
	float: left;
	padding: 0 0 10px;
}
.attendance_filter label {
	width: 100%;
	float: left;
	padding: 10px 0;
	font-size: 14px;
}
.attendance_filter input {
	width: 100%;
	background: #fff;
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #154fa0;
}
.attendence_table {
	width: 100%;
	float: left;
table {
 width: 100%;
 border-collapse: collapse;
}
table th {
	border: 1px solid #fff;
}table td {
	border: 1px solid #154fa0;
}
th, td {
	padding: 8px 5px;
	text-align: center;
	font-size: 14px;
}
thead th {
	padding: 8px 5px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
thead {
	background-color: #154fa0;
}
}.add_availability button {
	display: flex;
    margin-left: auto;
	background: none;
	border: 2px solid #154fa0;
	border-radius: 50px;
	padding: 10px 20px;
	color: #154fa0;
}.add_availability {
	width: 100%;
	padding: 20px 0;
}