<div class="pop" style="padding: 10px;">
  <h2>Change Password</h2>
  <p *ngIf="isFirst" class="first">This is Your First time Login. Please change your password to continue.</p>
  <div *ngIf="state == 'request'" class="attendance_filter">
    <button style="margin: 0px;" (click)="requestOtp()">Request OTP</button>
  </div>
  <form *ngIf="state == 'otp'" (ngSubmit)="f.form.valid && submitOtp()" #f="ngForm">
    <ion-item>
      <ion-label position="floating">Enter OTP</ion-label>
      <ion-input [(ngModel)]="form.otp" name="otp" #otp="ngModel" required></ion-input>
    </ion-item>
    <div class="attendance_filter">
      <button type="submit">Submit</button>
    </div>
  </form>
  <form *ngIf="state == 'password'" (ngSubmit)="f1.form.valid && submit()" #f1="ngForm">
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="form1.password" name="password" #password="ngModel" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="form1.cpassword" name="cpassword" #cpassword="ngModel" required></ion-input>
    </ion-item>
    <div class="attendance_filter">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>