<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <div style="padding: 10px;">
    <div class="emp_id">
      <h2>Hi {{profile?.fullName | titlecase}} </h2>
      <p>Employee ID - <b> {{profile?.employeeId | titlecase}}</b></p>
    </div>
    <div class="attendence_table">
      <table>
        <tbody>
          <tr>
            <th>Employer Name</th>
            <td>{{profile?.employerName}}</td>
          </tr>
          <tr>
            <th>Password</th>
            <td><button (click)="presentChangePasswordModal()">Change Password</button></td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>{{profile?.phone}}</td>
          </tr>
          <tr>
            <th>Category</th>
            <td>{{profile?.category}}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{profile?.type}}</td>
          </tr>
          <tr>
            <th>RFId</th>
            <td>{{profile?.rfid}}</td>
          </tr>
          <tr>
            <th>Adhar No</th>
            <td>{{profile?.adhar_no}}</td>
          </tr>
          <tr>
            <th>Bank Name</th>
            <td>{{profile?.bank_name}}</td>
          </tr>
          <tr>
            <th>Acc No</th>
            <td>{{profile?.acc_no}}</td>
          </tr>
          <tr>
            <th>Ifsc</th>
            <td>{{profile?.ifsc}}</td>
          </tr>
          <tr>
            <th>Primary Stage</th>
            <td>{{profile?.stage_id}}</td>
          </tr>
          <tr>
            <th>Secondary Stage</th>
            <td>{{profile?.secondary_stage_id}}</td>
          </tr>
          <tr>
            <th>Group Stage</th>
            <td>{{profile?.group_stage_id}}</td>
          </tr>
          <tr>
            <th>Renumeration</th>
            <td>{{profile?.renumeration}}</td>
          </tr>
          <tr>
            <th>Insurance No</th>
            <td>{{profile?.insurance_no}}</td>
          </tr>
          <tr>
            <th>Joining Date</th>
            <td>{{profile?.joining_date}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{profile?.status == 1?'Active':'Inactive'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
 
