<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <div style="padding: 10px;">
    <div class="emp_id">
      <h2>Hi Johny </h2>
      <p>Employee ID - <b> johny1010</b></p>
    </div>
    <div class="attendence_table">
      <table>
        <tbody>
          <tr>
            <th>Employer Name</th>
            <td>SMPL</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>9664040502</td>
          </tr>
          <tr>
            <th>Category</th>
            <td>Operator</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>Staff</td>
          </tr>
          <tr>
            <th>RFId</th>
            <td>08926</td>
          </tr>
          <tr>
            <th>Adhar No</th>
            <td>9982-2867-0719</td>
          </tr>
          <tr>
            <th>Bank Name</th>
            <td>AU Small Finance Bank</td>
          </tr>
          <tr>
            <th>Acc No</th>
            <td>1711216410081710</td>
          </tr>
          <tr>
            <th>Ifsc</th>
            <td>AUBL0002164</td>
          </tr>
          <tr>
            <th>Primary Stage</th>
            <td>WI/01</td>
          </tr>
          <tr>
            <th>Secondary Stage</th>
            <td>WI/22</td>
          </tr>
          <tr>
            <th>Group Stage</th>
            <td>group1</td>
          </tr>
          <tr>
            <th>Renumeration</th>
            <td>25875</td>
          </tr>
          <tr>
            <th>Insurance No</th>
            <td>1234567890</td>
          </tr>
          <tr>
            <th>Joining Date</th>
            <td>18/04/2023</td>
          </tr>
          <tr>
            <th>Status</th>
            <td> Active</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="recommendation">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Availability</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="blog">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Account </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="events">
        <ion-icon name="power-outline"></ion-icon>
        <ion-label> Logout </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
