<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
 <div style="padding: 10px;">
    <h2>  List of Mess History    </h2>
    <div class="attendance_filter">
        <ion-select
          aria-label="Months"
          placeholder="Select Month"
          (ionChange)="employeeListOfMessHistoryApp($event)"
        >
          <ion-select-option value="1">January</ion-select-option>
          <ion-select-option value="2">February</ion-select-option>
          <ion-select-option value="3">March</ion-select-option>
          <ion-select-option value="4">April</ion-select-option>
          <ion-select-option value="5">May</ion-select-option>
          <ion-select-option value="6">June</ion-select-option>
          <ion-select-option value="7">July</ion-select-option>
          <ion-select-option value="8">August</ion-select-option>
          <ion-select-option value="9">September</ion-select-option>
          <ion-select-option value="10">October</ion-select-option>
          <ion-select-option value="11">November</ion-select-option>
          <ion-select-option value="12">December</ion-select-option>
        </ion-select>
    </div>
    <div class="attendence_table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Breakfast </th>
            <th>Lunch </th>
            <th>Dinner </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of messData">
            <td>{{data.in_date}}</td>
            <td>{{data.breakfast}}</td>
            <td>{{data.lunch}}</td>
            <td>{{data.dinner}} </td>
          </tr>
        </tbody>
      </table>
 </div>
  </div>
</ion-content>
 
