<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
 <div style="padding: 10px;">
    <h2> Attendence Report </h2>
    <div class="attendance_filter">
     <label>Month :</label>
          <input type="text"  placeholder="Month" />
    </div>
    <div class="attendence_table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Time Difference</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          <tr>
            <td>08-09-2023</td>
            <td>3:34 AM</td>
            <td>3:38 AM</td>
            <td>00:04 </td>
          </tr>
          
        </tbody>
      </table>
 </div>
  </div>
</ion-content>
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="recommendation">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Availability</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="blog">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Account </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="events">
        <ion-icon name="power-outline"></ion-icon>
        <ion-label> Logout </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
