
<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <form (ngSubmit)="f.form.valid && employeeAddLeaveApp()" #f="ngForm">
    <div style="padding: 10px;">
      <h2> Leave Application </h2>
      <div (click)="presentDateModal()" class="attendance_filter">
        <label>Date</label>
        <input [(ngModel)]="form.leave_request_date" name="leave_request_date" #leave_request_date="ngModel" required type="text"  placeholder="Date" />
      </div>
      <div class="attendance_filter">
        <label>Leave Number of days  </label>
        <div class="card">
          <ion-radio-group [(ngModel)]="form.leave_type" name="leave_type" #leave_type="ngModel" required>
            <ion-radio value="full_day">Full Day</ion-radio>
            <ion-radio value="half_day">Half Day</ion-radio>
          </ion-radio-group>
      </div>
      </div>
      <div class="attendance_filter">
        <label>Half Day</label>
        <ion-radio-group [(ngModel)]="form.type_of_half_day" name="type_of_half_day" #type_of_half_day="ngModel">
          <ion-radio value="0">First Half Day</ion-radio>
          <ion-radio value="1">Second  Half Day</ion-radio>
        </ion-radio-group>
       </div>
       <div class="attendance_filter">
        <label>Number of days</label>
        <input [(ngModel)]="form.no_of_full_days" name="no_of_full_days" #no_of_full_days="ngModel" required type="text"  placeholder=" Number of days" />

       </div>
      <div class="attendance_filter">
        <label> Leave Reasons </label>
        <textarea [(ngModel)]="form.leave_reason" name="leave_reason" #leave_reason="ngModel" required rows="4" cols="50" placeholder=" Relief Sought" ></textarea>
      </div>
      <button>Submit</button>
    </div>
  </form>
</ion-content>
