
  <div class="pop" style="padding: 10px;">
    <h2>Add Availability </h2>
    <form (ngSubmit)="f.form.valid && add()" #f="ngForm">
      <ion-item>
        <ion-label position="floating">Shift</ion-label>
        <ion-select [(ngModel)]="form.shiftTime" required>
          <ion-select-option value="4">4 hrs</ion-select-option>
          <ion-select-option value="5">5 hrs</ion-select-option>
          <ion-select-option value="9">9 hrs</ion-select-option>
          <ion-select-option value="11">11 hrs</ion-select-option>
          <ion-select-option value="12">12 hrs</ion-select-option>
          <ion-select-option value="13">13 hrs</ion-select-option>
          <ion-select-option value="14">14 hrs</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input [(ngModel)]="form.datetimeIn"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Time</ion-label>
        <ion-select [(ngModel)]="time" name="ti" #ti="ngModel" required>
          <ion-select-option *ngFor="let data of timing" value="{{data.value}}">{{data.key}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="attendance_filter">
      <button>Submit</button></div>
    </form>
  </div>
 
