<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <div style="padding: 10px;">
    <div class="emp_id">
      <h2>Hi Johny </h2>
      <p>Employee ID - <b> johny1010</b></p>
    </div>
    <div class="total_itam">
      <ul>
        <li> <span><img src="assets/icon/des_icon1.png"></span> <span>100</span>
          <p>Total Hours in a Month</p>
        </li>
        <li> <span><img src="assets/icon/des_icon2.png"></span> <span>05</span>
          <p>Total Leaves</p>
        </li>
        <li> <span><img src="assets/icon/des_icon4.png"></span> <span>15,000</span>
          <p>Total Salary</p>
        </li>
        <li> <span><img src="assets/icon/des_icon3.png"></span> <span>100</span>
          <p>Total Meals</p>
        </li>
      </ul>
    </div>
    <div class="shift_add">
      <div class="shift_add_bg"> <img src="assets/images/shift_bg.jpg">
        <div class="text_shift_add">
          <ion-row>
            <ion-col size="6">
              <h3>Today Shift</h3>
              <p>8hrs Shift</p>
              <p>10:00am -06-00pm</p>
            </ion-col>
            <ion-col size="6" class="boder_left">
              <h3>tomorrow Shift</h3>
              <p>8hrs Shift</p>
              <p>10:00am -06-00pm</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <div class="add_availability">
      <button> Add  Availability </button>
      <div class="availability_list">
        <div class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>1 September 2023</h2>
            <p>8 hrs Shift</p>
          </div>
          <div class="text_right">
            <p>10:00am - 06-00pm</p>
          </div>
        </div>
        <div class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>1 September 2023</h2>
            <p>8 hrs Shift</p>
          </div>
          <div class="text_right">
            <p>10:00am - 06-00pm</p>
          </div>
        </div>
        <div class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>1 September 2023</h2>
            <p>8 hrs Shift</p>
          </div>
          <div class="text_right">
            <p>10:00am - 06-00pm</p>
          </div>
        </div>
        <div class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>1 September 2023</h2>
            <p>8 hrs Shift</p>
          </div>
          <div class="text_right">
            <p>10:00am - 06-00pm</p>
          </div>
        </div>
        <div class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>1 September 2023</h2>
            <p>8 hrs Shift</p>
          </div>
          <div class="text_right">
            <p>10:00am - 06-00pm</p>
          </div>
        </div>
        <div class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>1 September 2023</h2>
            <p>8 hrs Shift</p>
          </div>
          <div class="text_right">
            <p>10:00am - 06-00pm</p>
          </div>
        </div>
      </div>
    </div>
   </div>
</ion-content>
<ion-footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label >Home</ion-label>
        </ion-tab-button>
         <ion-tab-button tab="recommendation">
          <ion-icon name="person-add-outline"></ion-icon>
          <ion-label>Availability</ion-label>
        </ion-tab-button>  
        <ion-tab-button tab="blog">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label> Account </ion-label>
        </ion-tab-button>    
        <ion-tab-button tab="events">
          <ion-icon name="power-outline"></ion-icon>
          <ion-label> Logout </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>