<ion-header translucent>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">
      <div class="logo_head"> <img src="assets/images/logo.png"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content ">
  <div style="padding: 10px;">
    <div class="emp_id">
      <h2>Hi {{profile?.fullName | titlecase}} </h2>
      <p>Employee ID - <b> {{profile?.employeeId | titlecase}}</b></p>
    </div>
    <div class="total_itam">
      <ion-grid>
        <ion-row class="ul">
          <ion-col size="6">
            <div class="li">
              <img src="assets/icon/des_icon1.png">
              <div>{{dashData?.total_hours}}</div>
              <p>Total Hours in a Month</p>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="li">
              <img src="assets/icon/des_icon2.png">
              <div>{{dashData?.total_leaves}}</div>
              <p>Total Leaves</p>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="li">
              <img src="assets/icon/des_icon4.png">
              <div>{{dashData?.total_salaray}}</div>
              <p>Total Salary</p>
            </div>
          </ion-col>
          <ion-col size="6" routerLink="/menu/list">
            <div class="li">
              <img src="assets/icon/des_icon3.png">
              <div>{{dashData?.total_meals}}</div>
              <p>Total Meals</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="shift_add">
      <div class="shift_add_bg">
        <div class="text_shift_add">
          <ion-row>
            <h2>Shifts</h2>
            <ion-col size="6">
              <h3>Today</h3>
              <ng-container *ngIf="shiftData?.today">
                <p>{{shiftData?.today?.shift_time | titlecase}}</p>
                <p>{{shiftData?.today?.shift_durations}}</p>
              </ng-container>
              <ng-container *ngIf="!shiftData?.today">
                <p>-</p>
              </ng-container>
            </ion-col>
            <ion-col size="6" class="boder_left">
              <h3>Tomorrow</h3>
              <ng-container *ngIf="shiftData?.tomorrow">
                <p>{{shiftData?.tomorrow?.shift_time | titlecase}}</p>
                <p>{{shiftData?.tomorrow?.shift_durations}}</p>
              </ng-container>
              <ng-container *ngIf="!shiftData?.tomorrow">
                <p>-</p>
              </ng-container>
            </ion-col>
          </ion-row>
          <button>View All</button>
        </div>
      </div>
    </div>
    <div class="add_availability">
      <button (click)="presentAvailabilityModal()"> Add  Availability </button>
      <div class="availability_list">
        <div *ngFor="let data of availData;" class="availability_list_one">
          <div class="icon_left"><img src="assets/images/check_iocn.png"></div>
          <div class="text_center">
            <h2>{{data.shift_date}}</h2>
            <p>{{data.shift_time}}</p>
          </div>
          <div class="text_right">
            <p>{{data.shift_durations}}</p>
          </div>
        </div>
      </div>
    </div>
   </div>
</ion-content>